body {
	background-color: black;
	color: black;
}

.nav{
	position: fixed;
	top :0;
	right:0;
	left:0;
	background-color: black;
}

.logo {
	float: left;
}

.logo img{
	height :80px;
	width: auto;
}

.nav-text {
	float: right;
}

.nav-text ul{
	list-style-type: none;
}

.nav-text ul li {
	display: inline;
	padding: 10px;
}

.nav-text ul li a{
	color:white;
	font-size: 30px;
	text-decoration: none;
}

.nav-text ul li a:hover{
	text-decoration: underline;
}

.hero{
	margin-top: 100px;
	/*position: absolute;*/
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  background-image: url("../img/backdrop.jpg");
  background-size: auto 100% ;
  background-position: 50% 50%;
  height: 100vh;
}
.center {
	padding-top: 40vh;
	text-align: center;
}
.center a {
	font size: 20px;
	color: white;
	background-color: black;
	padding: 10px;
	text-decoration: none;
}
.center a:hover{
	text-decoration: underline;
	
}











